<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joel.practice.dao.mapper.AuthorityMapper">
    <select id="selectByUserId" resultType="com.joel.practice.dao.entity.Authority">
        select distinct a.* from authority a
        left join user_role ur on a.role_id=ur.role_id
        where ur.user_id=#{userId}
        union
        select * from authority where user_id=#{userId}
    </select>
</mapper>